#forma {
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #d8d8d8;
    padding: 0;
}
#sing_up {
    margin-bottom: 50px;
    color: #5f5c9a;
}
#sing_in {
    margin-bottom: 50px;
    color: #b5b5b7;
}
#slash {
    margin-bottom: 50px;
    color: #5f5c9a;
}